.form
  %h1= "Menu Rotations:".gsub(/\s/, '&nbsp;').html_safe
  -if @menu_rotations.any?
    - h = current_user.get_day_week_by_date(Date.today)
    %table.full
      %tbody
        - (1..@setting.menu_rotation_weeks).each do |week|
          %tr
            %td
              %b= "Week #{week}"
              = link_to icon('chevron-circle-up'), "#", id: "menu_rotation_#{week}", class: "padding-left toggle_items"
              .items_table{id: "menu_rotation_#{week}_items_table"}
                %table.full
                  %tbody
                    - @menu_rotations.where(week: week).each do |menu_rotation|
                      %tr
                        %td{class: h[:week] == menu_rotation.week && h[:day] == menu_rotation.day ? "is_today" : ""}
                          = link_to menu_rotation.day_name, menu_rotation
                          = render partial: '/food_menus/collections/index', locals: {id: "collection_#{menu_rotation.id}", collection: menu_rotation.collection, hidden_initially: true, show_prefix: true, show_recipe_names: true}