.button-row
  .button_strip
    %ul.button-group.round.right
      - if @recipe_buttons.include?(:new)
        %li= link_to(icon('plus', "New Recipe"), new_food_menus_recipe_path(reset_back: true), class: 'button')

      - if @recipe_buttons.include?(:save)
        %li= link_to(icon('save', "Save"), @recipe, class: 'button submit')

      - if @recipe_buttons.include?(:cancel)
        %li= link_to(icon('undo', "Cancel"), session[:food_menus_recipe_return_to], class: 'button')

      - if @recipe_buttons.include?(:index)
        %li= link_to(icon('list', "List"), food_menus_recipes_path(reset_back: true), class: 'button')

      - if @recipe_buttons.include?(:edit)
        %li= link_to(icon('pencil', "Edit"), edit_food_menus_recipe_path(reset_back: true), class: 'button')

      - if @recipe_buttons.include?(:delete)
        %li= link_to(icon('trash', "Delete"), @recipe, class: 'button', data: {confirm: 'Are you sure?'}, method: :delete)

  %h1= @recipe_page_heading.gsub(/\s/, '&nbsp;').html_safe