.button-row
  .button_strip
    %ul.button-group.round.right
      - if @ingredient_buttons.include?(:new)
        %li= link_to(icon('plus',"New Ingredient"), new_food_menus_ingredient_path, class: 'button')

      - if @ingredient_buttons.include?(:save)
        %li= link_to(icon('save',"Save"), @ingredient, class: 'button submit')

      - if @ingredient_buttons.include?(:cancel)
        %li= link_to(icon('undo',"Cancel"), session[:ingredient_return_to], class: 'button')

      - if @ingredient_buttons.include?(:index)
        %li= link_to(icon('list',"List"), food_menus_ingredients_path, class: 'button')

      - if @ingredient_buttons.include?(:edit)
        %li= link_to(icon('pencil',"Edit"), edit_food_menus_ingredient_path, class: 'button')

      - if @ingredient_buttons.include?(:delete)
        %li= link_to(icon('trash',"Delete"), @ingredient, class: 'button', data: {confirm: 'Are you sure?'}, method: :delete)

  %h1= @ingredient_page_heading.gsub(/\s/, '&nbsp;').html_safe