= form_for @ingredient do |f|
  = render partial: 'button_strip', locals: { f: f }
  .fields.columns
    .large-8.columns
      = f.label :name, 'Name:'
      = f.text_field :name
    .large-4.columns
      = f.label :unit, 'Purchase Unit:'
      = f.select :unit_id, options_from_collection_for_select(FoodMenus::Unit.all, :id, :name, @ingredient.unit.try(:id)), include_blank: true