%nav.top-bar{data: {topbar: true}, role: 'navigation'}
  %section.top-bar-section.left
    %ul.left
      %li.active.not-click.has-dropdown
        = link_to "Menus", "#"
        %ul.dropdown
          %li
            = link_to "Today", "/food_menus/today"
          %li.divider
            = link_to "Ingredients", "/food_menus/ingredients"
          %li
            = link_to "Recipes", "/food_menus/recipes"
          %li
            = link_to "Meals", "/food_menus/meals"
          %li.divider
            = link_to "Menu Rotations", "/food_menus/menu_rotations"
          %li
            = link_to "Build Shopping List", "/food_menus/shopping_lists"
          %li
            = link_to "Shopping List", "/food_menus/shopping_list_ingredients"
          %li.divider
            = link_to "Settings", "/food_menus/settings"
          %li
            = link_to "Units", "/food_menus/units"