%nav.top-bar{data: {topbar: true}, role: 'navigation'}
  %section.top-bar-section.left
    %ul.left
      %li.active.not-click.has-dropdown
        = link_to "Menus"
        %ul.dropdown
          %li
            = link_to "Today", "/today"
          %li.divider
            = link_to "Ingredients", "/ingredients"
          %li
            = link_to "Recipes", "/recipes"
          %li
            = link_to "Meals", "/meals"
          %li.divider
            = link_to "Menu Rotations", "/menu_rotations"
          %li
            = link_to "Build Shopping List", "/shopping_lists"
          %li
            = link_to "Shopping List", "/shopping_list_ingredients"
          %li.divider
            = link_to "Settings", "/settings"
          %li
            = link_to "Units", "/units"
          %li
            = link_to "Suppliers", "/suppliers"