.button-row
  .button_strip
    %ul.button-group.round.right
      - if @supplier_buttons.include?(:new)
        %li= link_to(icon('plus',"New Supplier"), new_food_menus_supplier_path, class: 'button')

      - if @supplier_buttons.include?(:save)
        %li= link_to(icon('save',"Save"), @supplier_supplier, class: 'button submit')

      - if @supplier_buttons.include?(:cancel)
        %li= link_to(icon('undo',"Cancel"), session[:supplier_return_to], class: 'button')

      - if @supplier_buttons.include?(:index)
        %li= link_to(icon('list',"List"), food_menus_suppliers_path, class: 'button')

      - if @supplier_buttons.include?(:edit)
        %li= link_to(icon('pencil',"Edit"), edit_food_menus_supplier_path, class: 'button')

      - if @supplier_buttons.include?(:delete)
        %li= link_to(icon('trash',"Delete"), @supplier_supplier, class: 'button', data: {confirm: 'Are you sure?'}, method: :delete)

  %h1= @supplier_page_heading.gsub(/\s/, '&nbsp;').html_safe