= render partial: 'button_strip'
= form_for @collection_ingredient, html: {class: 'form'} do |f|
  .fields
    .large-6.medium-6.small-12.columns
      .large-10.medium-10.small-10.columns.no-padding
        = f.label :ingredient_id, 'Ingredient:'
        = f.select :ingredient_id, options_from_collection_for_select(FoodMenus::Ingredient.all, :id, :name, @collection_ingredient.ingredient.try(:id)), include_blank: true
      .large-2.medium-2.small-2.columns
        .button-row
          .button_strip
            %ul.button-group.round
              %li= link_to(icon('plus',""), new_food_menus_ingredient_path, class: 'button')
    .large-3.medium-3.small-6.columns
      = f.label :quantity
      = f.number_field :quantity, step: :any
    .large-3.medium-3.small-6.columns
      = f.label :unit
      = f.select :unit_id, options_from_collection_for_select(FoodMenus::Unit.all, :id, :name, @collection_ingredient.unit.try(:id)), include_blank: true

    = f.hidden_field :collection_id