
= form_tag session_path(back_to: safe_back_to_uri) do
  %label Email address
  = text_field_tag "email", nil, placeholder: 'Enter your email address here...', style: "margin-bottom: 0.5rem;", type: 'email'
  .medium-8.large-8.columns.password-enter.no-padding
    %label Password
    = password_field_tag "password", nil, placeholder: 'Enter here...', style: "margin-bottom: 0.5rem;", autocomplete: "off"
  .medium-4.large-4.columns.loggs
    %p
      = submit_tag "Log in", id: "login_submit", class: 'button log-in-button'
  %p.intro-copy
    Forgotten your password? Don't worry
    = link_to "click here", password_account_path, class: "new_parent", title: "Forgotten details page"
