.button-row
  .button_strip
    %ul.button-group.round.right
      - if @ingredient_supplier_buttons.include?(:save)
        %li= f.button icon('save', 'Save'), class: 'button', data: { disable_with: "Save" }

      - if @ingredient_supplier_buttons.include?(:cancel)
        %li= link_to(icon('undo', 'Cancel'), @ingredient, class: 'button')

      - if @ingredient_supplier_buttons.include?(:delete)
        %li= link_to(icon('trash', 'Delete'), ingredient_ingredient_supplier_path(@ingredient, @ingredient_supplier), class: 'button', method: :delete, data: { confirm: { title: "Are you sure you want to delete #{@ingredient_supplier.supplier.name}?" }})

  %h1= @ingredient_supplier_page_heading.gsub(/\s/, '&nbsp;').html_safe