= render partial: 'button_strip'

- if @shopping_list_ingredients.any?
  %table.full
    %tbody
      - @shopping_list_ingredients.each do |shopping_ingredient|
        %tr
          %td
            = shopping_ingredient
            -# = render partial: 'all_ingredients', locals: {id: "all_ingredients_#{shopping_ingredient.id}", ingredient_id: shopping_ingredient.ingredient_id}
            - ingredients = @shopping_list.get_all_ingredients(shopping_ingredient.ingredient_id)
            - if ingredients.any?
              = link_to icon("chevron-circle-down"), "#", id: "ingredients_#{shopping_ingredient.ingredient_id}", class: "padding-left toggle_items"
            .right.larger
              - if shopping_ingredient.quantity <= 1
                = link_to(icon('minus-circle', class: "margin-right"), shopping_ingredient, data: {confirm: 'This will delete the ingredient. Are you sure?'}, method: :delete)
              - else
                = link_to(icon('minus-circle',"", class: "margin-right"), deduct_quantity_shopping_list_ingredient_path(shopping_ingredient))

              = link_to(icon('plus-circle',"", class: "margin-right"), add_quantity_shopping_list_ingredient_path(shopping_ingredient))
              = link_to(icon('trash'), shopping_ingredient, data: {confirm: 'Are you sure?'}, method: :delete)

            .items_table{id: "ingredients_#{shopping_ingredient.ingredient_id}_items_table", class: "hidden"}
              %table.full
                %tbody
                  - ingredients.each do |ingredient|
                    %tr
                      %td
                        = "#{ingredient.collection.target.name} - #{ingredient}"