- if collection.collection_meals.any? || collection.collection_recipes.any? || collection.collection_ingredients.any?
  - chevron =  hidden_initially ? "down" : "up"
  - items_class =  hidden_initially ? "hidden" : ""
  = link_to icon("chevron-circle-#{chevron}"), "#", id: "#{id}_collection_#{collection.id}", class: "padding-left toggle_items"
  .items_table{id: "#{id}_collection_#{collection.id}_items_table", class: items_class}

    - if collection.collection_meals.any?
      %fieldset.full
        %legend Meals:
        %table.full
          %tbody
            - collection.collection_meals.each do |collection_meal|
              %tr
                %td
                  = collection_meal.meal.name
                  = render partial: '/food_menus/collections/index', locals: {id: "#{id}_collection_#{collection.id}_meal_#{collection_meal.meal.id}", collection: collection_meal.meal.collection, hidden_initially: hidden_initially, show_prefix: true}

    - if collection.collection_recipes.any?
      %fieldset.full
        %legend Recipes:
        %table.full
          %tbody
            - collection.collection_recipes.each do |collection_recipe|
              %tr
                %td
                  = collection_recipe.recipe.name
                  = render partial: '/food_menus/collections/index', locals: {id: "#{id}_collection_#{collection.id}_recipe_#{collection_recipe.recipe.id}", collection:  collection_recipe.recipe.collection, hidden_initially: hidden_initially, show_prefix: true}

    - if collection.collection_ingredients.any?
      %fieldset.full
        %legend Ingredients:
        %table.full
          %tbody
            - collection.collection_ingredients.each do |collection_ingredient|
              %tr
                %td= collection_ingredient

      -# %table.full
      -# %tbody
      -#   - if collection.collection_meals.any?
      -#     - collection.collection_meals.each do |collection_meal|
      -#       %tr
      -#         %td
      -#           = "Meal: #{collection_meal.meal.name}"
      -#           = render partial: '/food_menus/collections/index', locals: {id: "#{id}_collection_#{collection.id}_meal_#{collection_meal.meal.id}", collection: collection_meal.meal.collection, hidden_initially: hidden_initially, show_prefix: true}

      -#   - if collection.collection_recipes.any?
      -#     - collection.collection_recipes.each do |collection_recipe|
      -#       %tr
      -#         %td
      -#           = "Recipe: #{collection_recipe.recipe.name}"
      -#           = render partial: '/food_menus/collections/index', locals: {id: "#{id}_collection_#{collection.id}_recipe_#{collection_recipe.recipe.id}", collection:  collection_recipe.recipe.collection, hidden_initially: hidden_initially, show_prefix: true}

      -#   - if collection.collection_ingredients.any?
      -#     - collection.collection_ingredients.each do |collection_ingredient|
      -#       %tr
      -#         %td
      -#           = "Ingredient: " if show_prefix
      -#           = collection_ingredient