.button-row
  .button_strip
    %ul.button-group.round.right
      - if @collection_recipe_buttons.include?(:save)
        %li= f.button icon('save', 'Save'), class: 'button'

      - if @collection_recipe_buttons.include?(:cancel)
        %li= link_to(icon('undo', 'Cancel'), session[:food_menus_collection_recipe_return_to], class: 'button')

      - if @collection_recipe_buttons.include?(:delete)
        %li= link_to(icon('trash', 'Delete'), @collection_recipe, class: 'button', data: { confirm: "Are you sure you want to delete #{@collection_recipe.recipe.name}?" }, method: :delete)

  %h1= @collection_recipe_page_heading.gsub(/\s/, '&nbsp;').html_safe