.button-row
  .button_strip
    %ul.button-group.round.right
      - if @unit_buttons.include?(:new)
        %li= link_to(icon('plus',"New Unit"), new_unit_path, class: 'button')

      - if @unit_buttons.include?(:save)
        %li= link_to(icon('save',"Save"), @unit, class: 'button submit')

      - if @unit_buttons.include?(:cancel)
        %li= link_to(icon('undo',"Cancel"), units_path, class: 'button')

      - if @unit_buttons.include?(:index)
        %li= link_to(icon('list',"List"), units_path, class: 'button')

      - if @unit_buttons.include?(:edit)
        %li= link_to(icon('pencil',"Edit"), edit_unit_path, class: 'button')

      - if @unit_buttons.include?(:delete)
        %li= link_to(icon('trash',"Delete"), @unit, class: 'button', data: {confirm: 'Are you sure?'}, method: :delete)

  %h1= @unit_page_heading.gsub(/\s/, '&nbsp;').html_safe