.button-row
  .button_strip
    %ul.button-group.round.right
      - if @meal_buttons.include?(:new)
        %li= link_to(icon('plus',"New Meal"), new_food_menus_meal_path, class: 'button')

      - if @meal_buttons.include?(:save)
        %li= link_to(icon('save',"Save"), @meal, class: 'button submit')

      - if @meal_buttons.include?(:cancel)
        %li= link_to(icon('undo',"Cancel"), session[:meal_return_to], class: 'button')

      - if @meal_buttons.include?(:index)
        %li= link_to(icon('list',"List"), food_menus_meals_path, class: 'button')

      - if @meal_buttons.include?(:edit)
        %li= link_to(icon('pencil',"Edit"), edit_food_menus_meal_path, class: 'button')

      - if @meal_buttons.include?(:delete)
        %li= link_to(icon('trash',"Delete"), @meal, class: 'button', data: {confirm: 'Are you sure?'}, method: :delete)

  %h1= @meal_page_heading.gsub(/\s/, '&nbsp;').html_safe