= javascript_include_tag "password"
.form
  = simple_form_for @user, url: account_path, html: {class: "submit_form"} do |f|
    .large-6.columns.no-padding
      %h2 My details
      .columns
        = f.input :first_name, label: "First Name:", required: true, maxlength: 35
        = f.input :last_name, label: "Last Name:", required: true, maxlength: 40
        = f.input :email, label: "Email Address:", required: true, type: "email"
        = f.input :email_confirmation, label: "Confirm Email Address:", required: true, type: "email"
        = f.hidden_field :email_is_valid
        = f.hidden_field :email_validator_message
        = text_field_tag 'name', '', class: 'absent'
    .large-6.columns.no-padding
      %h2 Password
      .columns
        = f.input :password, label: "Password:", input_html: {autocomplete: "off"}, required: true
        #user-password-text
        = f.input :password_confirmation, label: "Confirm Password:", input_html: {autocomplete: "off"}, required: true
    .columns.no-padding
      - if locals[:type] == "new"
        = link_to "Cancel", root_path, class: "button left"
        = submit_tag "Create account", class: "button right"
      - else
        = link_to "Cancel", account_path, class: "button"
        = link_to "Close Account", close_account_path, class: "button"
        = submit_tag "Update account", class: "button right", method: :put