- content_for :title do
  My account
.form
  = simple_form_for @user, url: account_path, html: {method: :put} do |f|
    %h2 Closing your account
    .columns.no-padding
      %h2.warning Warning
      .columns
        %strong
          We are sorry to see you go, but if you close your account you will no longer be able to log in and your account cannot be re-opened.
      .columns.margin-top
        = f.input_field :account_closed, :style => "float:left;"
        = f.label :account_closed, raw("If you are sure you want to close your account please tick this box and then click the <strong>Update</strong> button."), class: "normal margin-left"
      .columns.margin-top
        = link_to "Cancel", account_path, class: "button left"
        = submit_tag "Update", class: "button right", id: "submit_button", disabled: true

:javascript
  $('#user_account_closed').change(function() {
      $('#submit_button').prop('disabled', !$(this).is(':checked'));
  });