- content_for :title do
  = (@purpose == "account_activation") ? "Activate your account" : "Reset your password"

= javascript_include_tag "password"
.form
  .columns
    = simple_form_for @user, as: :user, url: password_reset_account_path, html: { method: :put } do |f|
      - if @purpose == "account_activation"
        %h2 To active your account please set your password by entering it, twice, in the form below.
      - else
        %h2 Please set a new password by entering it, twice, in the form below.
      .large-6.columns.no-padding
        %h2 Password
        .columns
          = f.input :password, label: "Password:", input_html: {autocomplete: "off"}, required: true
          #user-password-text
          = f.input :password_confirmation, label: "Confirm Password:", input_html: {autocomplete: "off"}, required: true
      = hidden_field_tag :purpose, @purpose
      .columns.no-padding
        = link_to "Cancel", account_path, class: "button left"
        = submit_tag "Submit", class: "button right"
